{% extends "admin/base_site.html" %}
{% load static %}



{% block content %}
<script src="/mycms//static/js/echarts.min.js"></script>

  <style> 
    .div-overview-a{ float:left;width:49%;height:50%;border:1px solid #F00} 
    .div-overview-b{ float:left;width:49%;border:1px solid #000} 
    .div-overview-c{ float:left;width:40%;height:400px} 
    .div-overview-line-plot{ float:left;width:80%;height:400px} 
 </style> 

    <div>
        <label><h1>资金统计</h1> </label>
    </div>


    <div id='idOverview1' class="div-overview-c"></div> 
    <div id='f2' class="div-overview-c"></div> 

    <script type="text/javascript">
       // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('idOverview1'));

        // 指定图表的配置项和数据
        var option = {
            title: {
                text: '总览'
            },
            tooltip: {},
            legend: {
                data: ["本金","市值"]
            },
            xAxis: {
                data:['数目']
            },
            yAxis: {},
            series: [{
                  type: 'bar',
                  name: '本金',
                  data: [ {{ overview.base_money }}]
                },{
                  name: '市值',
                  type: 'bar',
                  data: [ {{ overview.real_money }}]
                }]
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);

       /////////////////////////////////////
       // second subplot stuff...
       /////////////////////////////////////

        var myChart2 = echarts.init(document.getElementById('f2'));

        // 指定图表的配置项和数据
        var option = {
            title: {
                text: '分成'
            },
            tooltip: {},
//            legend: {
//                data:['高蓉', '杨松祥']
 //           },
            series: [{
                  type: 'pie',
                  name: '分成',
                  data: [ {'value': {{ overview.base_money_gao }},
                           'name':'高蓉'
                        },
                          {
                            'value': {{ overview.base_money_yang}},
                            'name': '杨松祥'
                        }]
                }]
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart2.setOption(option);
    </script>


    <div id="main" class="div-overview-line-plot"></div>
    <script type="text/javascript">
       // 下面开始线条线的画法

        var myChart = echarts.init(document.getElementById('main'));
var option = {

        // 标题
        title: {
            text: '近1年资金走势图',
            subtext: '数据来源：高蓉小美女'
        },
        tooltip: {
            trigger: 'axis'
        },

        //图例名
        legend: {
            data:['本金','市值']
        },
        grid: {
            left: '3%',   //图表距边框的距离
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        //工具框，可以选择
        toolbox: {
//            feature: {
//                saveAsImage: {}
//            }
        },

        //x轴信息样式
        xAxis: {
            type: 'category',
            boundaryGap: false,
            data: ['12-01','12-02','12-03','12-04','12-05','12-05','12-06','12-07','12-08','12-09','12-10','12-11','12-12','12-13'],
            //坐标轴颜色
            axisLine:{
                lineStyle:{
                    color:'black'
                }
            },
            //x轴文字旋转
            axisLabel:{
                rotate:30,
                interval:0
            },
        },

        yAxis : [
            {
                type : 'value',
//                axisLabel : {
//                    formatter: '{value} 人'
//                }
            }
        ],
        series: [
            //实线
            {
                name:'本金',
                type:'line',
                symbol:'circle',
                symbolSize:4,
                itemStyle:{
                    normal:{
                        color:'red',
                        borderColor:'red'  //拐点边框颜色
                    }
                },
                data:[220, 182, 191, 234, 290, 330, 310,220, 182, 191, 234, 290, 330, 310]
            },
            {
                name:'市值',
                type:'line',
                color:['green'],
                symbol:'circle',
                symbolSize:4,
                data:[310, 352, 280, 334, 373, 310, 340,300, 350, 280, 350, 340, 370, 310],
                itemStyle:{
                    normal:{
                        color:'green',
                        borderColor:'green'
                    }
                }
            }
        ]
    };


        myChart.setOption(option);
    </script>


{% endblock %}
