{% extends "admin/base_site.html" %}
{% load static %}



{% block content %}
<script src="/static/js/echarts.min.js"></script>
    <div>
        <label><h1>资金统计</h1> </label>
    </div>

    <div id="main" style="width: 600px;height:400px;"></div>
    <script type="text/javascript">
       // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));

        // 指定图表的配置项和数据
        var option = {
            title: {
                text: 'ECharts示例'
            },
            tooltip: {},
            legend: {
                data:['销量', 'HH']
            },
            xAxis: {
                data: ["总资产","个体"]
            },
            yAxis: {},
            series: [{
                  name: '销量',
                  type: 'bar',
                  data: [ {{ mydic.mymoney }}, 11]
                },{
                  name: 'HH',
                  type: 'bar',
                  barCateGoryGap: '10%',
                  data: [ {{ mydic.mymoney }}, 12]
                },{
                  name: '销量',
                  type: 'bar',
                  data: [ {{ mydic.mymoney }}, 13]
                },{
                  name: 'HH',
                  type: 'bar',
                  barCateGoryGap: '10%',
                  data: [ {{ mydic.mymoney }}, 14]
                }]
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    </script>
{% endblock %}
